

nav ul {
    list-style-type: none; 
	text-align: center; 
    font-weight: bold; 
	display:inline-block;
}


nav ul li {
display: inline;
}


nav {
padding-left: 600px;
float:none;
width: auto;
background-color: black;
color: white;
}