
.gird-item{
    gird-area: gird-item;
}


ul {
    display: grid;
    grid-template: 'gird-item   gird-item    gird-item' auto
            'gird-item    gird-item   gird-item' auto
            'gird-item    gird-item   gird-item' auto
            'gird-item    gird-item   gird-item' auto/
             2fr          2fr         100px
}




@media only screen and (max-width: 1500px){
    ul {
    display: grid;
    grid-template: 'gird-item   gird-item ' auto
            'gird-item    gird-item' auto
            'gird-item    gird-item ' auto
            'gird-item    gird-item ' auto
            'gird-item    gird-item ' auto
            'gird-item    gird-item ' auto/
             2fr          2fr        
    }
    
}



@media only screen and (max-width: 800px){
    ul {
    display: grid;
    grid-template: 'gird-item ' auto
            'gird-item' auto
            'gird-item ' auto
            'gird-item ' auto
            'gird-item ' auto
            'gird-item ' auto
            'gird-item ' auto
            'gird-item ' auto
            'gird-item ' auto
            'gird-item ' auto
            'gird-item ' auto
            'gird-item ' auto/
             2fr               
    }
    
    
}