
.gird-item{
    gird-area: gird-item;
}


ul {
    display: grid;
    grid-template: 'gird-item   gird-item    gird-item' auto
            'gird-item    gird-item   gird-item' auto
            'gird-item    gird-item   gird-item' auto
            'gird-item    gird-item   gird-item' auto/
             2fr          2fr         100px
}
